.current-issue {
    grid-column: 1 / -1;
    grid-row: 3 /2;
    height: 60vh;
    border: 1px solid #000000;

    &-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &-btn {
        position: absolute;
        bottom: 5rem;
        font-family: font(primary-font);
        padding: 23px 33px;
        margin: 0 10px;
        font-size: size(lg);
        font-weight: 700;
        letter-spacing: 2px;
        border: 3px solid transparent;
        outline: none;
        border-radius: 5px;
        transition: color 0.5s, transform 0.2s, background-color 0.2s;

        &:active {
            transform: translateY(3px);
        }

        &::after, &::before {
            border-radius: 3px;
        }
    }
}

.border-shrink {
    background-color: transparent;
    color: color(quaternary);

    &:hover {
        background-color: transparent;
        box-shadow: none;
        color: darken(color(quaternary), 10%);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid color(secondary);
        transition: opacity 0.3s, border 0.3s;
    }

    &:hover::before {
        opacity: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 3px solid color(secondary);
        opacity: 0;
        z-index: -1;
        transform: scaleX(1.1) scaleY(1.3);
        transition: transform 0.3s, opacity 0.3s;
    }

    &:hover::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}

.word-scroll {
    font-family: font(primary-font);
    font-size: size(xl);
    color: color(quaternary);

    &-container {
        overflow: hidden;
        position: relative;
        float: right;
        height: 65px;
        margin-bottom: 45px;
        display: block;
    }

    &-flip {
        animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    }

}

li {
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}